/* 

    一句话：如果你要参照背景图片来定位

    那么如果背景是水平居中，那么你的元素也应该left:50%或者right:50%，因为图片始终会保持在屏幕中间，那么你的元素也要保持在屏幕中间

    那么如果背景是垂直居中，那么你的元素也应该top:50% 或者botton:50%，因为图片始终会保持在屏幕垂直中间，那么你的元素也要保持在屏幕垂直中间

    如果图片水平方向是固定的，你也应该是固定的
    如果图片垂直方向是固定的，你也应该是固定的
*/


/* 第一屏 */
.section1{

    background: url(../images/01/products.png) no-repeat center center,
                url(../images/01/bg.png) no-repeat center bottom;
}

.section1 .sofa{
    position: absolute;

    left:50%;
    margin-left: -160px;

    bottom:320px;

    animation: shake .7s infinite alternate;
}

.section1 .ball{

    position: absolute;
    left:50%;
    margin-left: 130px;
    bottom:480px;

    animation: shake 1s infinite alternate;
}


@keyframes shake{

    from{}
    to{
        transform: translateY(-80px);
    }
}


/* 第二屏开始 */
.section2{
    background: url(../images/02/bg.png) no-repeat center bottom;
}

.section2 .search01{

    position: absolute;
    left:50%;
    /* margin-left: -111px; */
    margin-left: 30%;
    bottom: 300px;

    /* transform: translate(600px); */
}

.section2 .search02{

    position: absolute;
    left:50%;
    margin-left: -111px;
    bottom: 300px;

    display: none;
}

.section2 .sofas{

    position: absolute;
    right:50%;
    margin-right: -220.5px;
    bottom: 210px;
    width: 0;
}


/* 第三屏 */
.section3{

    background: url(../images/03/bg.png) no-repeat center;
}

.section3 .sofa{
    position: absolute;
    left:50%;
    margin-left: -235px;
    bottom: 50%;
    margin-bottom: -65px;
}

.section3 .color{

    position: absolute;
    left:50%;
    margin-left: 40px;
    bottom: 50%;
    margin-bottom: -100px;

    width: 296px;
    height: 131px;
    background: url(../images/03/color01.gif) no-repeat;
}


.section3 .add{

    position: absolute;
    left:50%;
    margin-left: 40px;
    bottom: 50%;
    margin-bottom: -150px;

    width: 218px;
    height: 58px;
    background: url(../images/03/add01.gif) no-repeat;
}

.section3.animation .color{

    transition: all 1s;
    background:  url(../images/03/color02.gif) no-repeat;
}


.section3.animation .add{

    transition: all 1s;
    background: url(../images/03/add02.gif) no-repeat;
}


/* 第四屏 */
.section4{

    background: url(../images/04/bg.png) no-repeat center bottom;
}

.section4 .cloud{

    position: absolute;
    top: 10px;
    right:0;

    animation: cloud 50s infinite;
}

.section4>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section4 .keyboard{

    margin-top: 50px;
    width: 283px;
    height: 270px;
    background: url(../images/04/keyboard.png);

    position: relative;
    opacity: 0;
}

.section4 .address{

    position: absolute;
    left:50px;
    top:60px;
}


.section4 .carBox{

    position: absolute;
    width: 407px;
    height: 366px;
    left:50%;
    margin-left: -203.5px;

    bottom:50px;

    background: url(../images/04/car.png) no-repeat left bottom,
                url(../images/04/sofa.png) no-repeat 120px -22px;
}

@keyframes cloud{

    from{}

    to{

        transform: translateX(-2000px);
    }
}


/* 第五屏开始 */
.section5{
    background: url(../images/05/bg.png);

    perspective: 800px;
}

.section5 .cardBox{

    width: 358px;
    height: 221px;
    position: absolute;
    /* border: 1px solid #000; */

    right:50%;
    top:230px;
}

.section5 .cardBox>img{
    position: absolute;
}

.section5 .bill{

    left:150px;
    top:0;
}


.section5 .mouse{

    width: 205px;
    height: 380px;
    background: url(../images/05/mouse01.png) no-repeat center bottom;

    position: absolute;
    top: 0;
    left:70%;
}

.section5 .hand{

    position: absolute;
    left:68%;
    bottom: -40px;
}


.section5 .words{

    position: absolute;
    left:50%;
    margin-left: -270.5px;

    top:30px;
    /* display: none; */
    opacity: 0;
}


.section5.animation .hand{

    transition: all 1s;
    bottom: 0;
}

.section5.animation .mouse{

    transition: all 1s 1s;
    background: url(../images/05/mouse02.png) no-repeat center bottom ;
}

.section5.animation .bill{

    transition: all 1s 2s;
    top:-130px;
}


.section5.animation .words{

    transition: all 1s 3s;
    opacity: 1;
    transform: rotateY(360deg) scale(1.2);
}


/* 第六屏开始 */
.section6 .street{
    width: 100%;
    height: 100%;
    background: url(../images/06/bg.png) repeat-x -300px bottom;
}


.section6 .carBox{

    width: 221px;
    height: 122px;
    /* border: 1px solid #000; */

    position: absolute;
    bottom: 82px;
    left: 400px;
}


.section6 .box{

    width: 123px;
    height: 85px;
    position: absolute;
    top:-400px;
}

.section6 .box>img{

    position: absolute;
}

.section6 .sofa{
    width: 80px;
    left:20px;
    top:-10px;
}


.section6 .man{

    position: absolute;
    right:0;
    bottom: 20px;
    height:0px;
}

.section6 .car{
    position: absolute;
}


.section6 .door{

    position: absolute;
    bottom: 116px;
    left: 809px;
    display: none;
}


.section6 .girl{

    position: absolute;
    bottom: 116px;
    left: 860px;
    height:120px;
    display: none;
}

/* 第七屏 */
.section7{

    background: url(../images/07/bg.png) no-repeat center bottom;
}

.section7 .star{

    /* width: 105px; */
    height: 17px;
    background: url(../images/07/stars3.png) no-repeat;

    position: absolute;
    left: 50%;
    margin-left: -300px;
    bottom: 443px;
    width: 0;
}


.section7 .good{

    position: absolute;
    left: 50%;
    margin-left: -280px;
    bottom: 383px;
    opacity: 0;
}


.section7.animation .star{
    transition: all 1s steps(5);
    width: 105px;
}

.section7.animation .good{
    transition: all 1s 1s;
    opacity: 1;
}


/* 第八屏 */
.section8{
    background: url(../images/08/bg.png);
}

.section8 .begin{

    width: 389px;
    height: 160px;
    background: url(../images/08/begin.png);
    position: absolute;
    left:50%;
    margin-left: -194.5px;
    top:20px;
}

.section8 .begin:hover{

    background: url(../images/08/begin.gif);
}

.section8 .again{

    position: absolute;

    right:50px;
    bottom: 80px;
}

.section8 .hand{

    /* 告诉这个手，你不接收任何跟鼠标有关的事件 */
    pointer-events: none;

    position: absolute;
}